<a href="https://colab.research.google.com/github/Theerapong25/242-64/blob/main/6621600925_theerapong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!") # เเสดงค่าทางหน้าจอ

Hello World!

In [ ]:
print('single quote')

single quote

In [ ]:
print("hello" + "world")  #นำคำที่มีค่าเป็น  str มาเรียงต่อกันโดยใช้เครื่องหมาย  +
print("hello" + " "+"world")
print("hello" , "world","!","R2DE")

helloworld
hello world
hello world ! R2DE

In [ ]:
a =1 #int ตัวเลขมีค่า
float(a) #float เปลี่ยนเป็นทศนิยม

1.0

ทำการกำหนดค่าให้กับตัวแปร

In [ ]:
# String ตัวเลขไม่มีค่าใน string
# เพราะเป็นข้อความ
str(a)

'1'

In [ ]:
str(a) + "1" #ไม่ใช่เลข 11 เป็นข้อความที่เรียงต่อกัน

'11'

In [ ]:
print(1+2+3) #ตัวเลขมีค่า

6

In [ ]:
a

1

In [ ]:
bool(a)

True

In [ ]:
bool(0)

False

In [ ]:
bool(None)

False

In [ ]:
type(a) #ตรวจสอบประเภท

int

In [ ]:
b = "Python" # ทำการกำหนดค่าให้กับตัวแปร
b

'Python'

In [ ]:
type(b)

str

In [ ]:
int(b)#ไม่สามารถเปลี่ยนประเภทได้

ValueError: invalid literal for int() with base 10: 'Python'

In [ ]:
#ทบทวนตัวแปร
print(a,type(a))
print(b,type(b))

1 <class 'int'>
Python <class 'str'>

In [ ]:
empty_list =[]
print(empty_list)

[]

กำหนดค่าให้กับตัวแปรเเละทำการเเสดงค่าของตัวแปรนั้นออกมา

In [ ]:
l = [b,a,a+1,a+2]
l

['Python', 1, 2, 3]

สร้างตัวแปรใหม่ขึ้นมาเพือให้เก็บค่าของตัวแปรอื่นๆก่อนหน้า

In [ ]:
len(l)#python 1 2 3 # ตรวจสอบจำนวนทั้งหมดใน  arr

4

In [ ]:
l[3] # ให้เเสดงค่าตำเหน่งที่ 3 ใน arr

3

In [ ]:
l[3]=5 # เเทนค่าใน  arr โดยกำหนดให้เเทนในตำเเหน่งที่  3
l

['Python', 1, 2, 5]

In [ ]:
#IndexErorr
l[4]=":)"

IndexError: list assignment index out of range

In [ ]:
l #ไม่มีการเปลี่ยนแปลง

['Python', 1, 2, 5]

In [ ]:
l.append(":)") #ถ้าต้องการเปลี่ยนให้ใช้คำสั่งนี้
l

['Python', 1, 2, 5, ':)']

In [ ]:
len(l)

5

In [ ]:
l.pop()#เอาตัวสุดท้ายออก
l

['Python', 1, 2, 5]

In [ ]:
t=(0,1,2,3,5,4)

In [ ]:
len(t)

6

In [ ]:
t[0:3]#กำหนดตำเเหน่งที่ต้องการ

(0, 1, 2)

In [ ]:
t[-1] #ดึงตำเเหน่งสุดท้ายออกมาได้

4

In [ ]:
t[-3:] #ดึงตำเเหน่ง(ไม่เอาสองตัวหน้า)

(3, 5, 4)

In [ ]:
t[ :-3]#เอา2ตัวหน้า

(0, 1, 2)

In [ ]:
#TypeErrorไม่สามารถเปลี่ยนแปลง tuple ได้
t[4]=5

TypeError: 'tuple' object does not support item assignment

In [ ]:
grade = {
    "A": 80,
    "B":70,
    "C": 60,
    "D":50,
}
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
grade["A"]

80

In [ ]:
grade["B+"]=75 # ทำการเพิ่มค่าเกรดเข้าไปเพิ่ม
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
d ={}
d["s001"] ="Preth"
d["s002"] = "Fon"

In [ ]:
d["s001"]

'Preth'

In [ ]:
sentenc = "  Hello Python.I am ready.    "

In [ ]:
sentenc[1]

'H'

In [ ]:
sentenc[1:13] # ให้เเสดงค่าตัวที่  1 ถึง 13

'Hello Python'

In [ ]:
sentenc.strip()#ใช้เพื่อลบช่องว่างที่เกิดขึ้นหน้าเเละหลังของข้อความ

'Hello Python.I am ready.'

In [ ]:
list_of_words =sentenc.strip().split(' ')#แปลงข้อความให้เป็นรายการของคำ
# ใช้ split เพื่อแยกข้อความออกเป็น รายการ (list) โดยใช้ช่องว่าง (' ') เป็นตัวแบ่ง

In [ ]:
corgi = ' '.join(list_of_words)
corgi

'Hello Python.I am ready.'

In [ ]:
#ทบทวนตัวแปร l ตัวเดิม
l

['Python', 1, 2, 5]

In [ ]:
for item  in l:
  print(item)

Python
1
2
5

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#list comprehension
list_t=[i for i in t]

In [ ]:
[i + 1 for i in range(100)]# i+1คือเริ่มต้นที่  1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
if len(t)==5:
  print('length is 5')#เป็นจริง
else:
  print('length is not  equals 5') #เป็นเท็จ

length is 5

In [ ]:
#ทบทวนตัวแปร grade
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
score = 75
if score >= grade["A"]:
  print(" A")
  print("Good job!")
elif score >= grade["B+"]:
  print("B+")
elif score >= grade["B"]:
  print("B")
elif score >= grade["C"]:
  print("C")
elif score >= grade["D"]:
  print("D")
else:
  print("F")

B+

In [ ]:
import math

math.pi

3.141592653589793

In [ ]:
import datetime

now = datetime.datetime.now()
now

datetime.datetime(2025, 1, 18, 18, 2, 26, 918281)

In [ ]:
now.isoformat()

'2025-01-18T10:44:58.169648'

In [ ]:
today = datetime.date.today()
today

datetime.date(2025, 1, 18)

In [ ]:
today.isoformat()

'2025-01-18'

In [ ]:
def circle_area(radius):
   return  math.pi*radius*radius #ส่งค่าผลลัพธ์ออกจากฟังก์ชัน
circle_area(4)

50.26548245743669

In [ ]:
def rectangle_area(width,height):
  return width*height

rectangle_area(4,5)

20

In [ ]:
def conversion(amount,rate=31.33):#แปลงค่าเงิน
  return amount*rate

conversion(30)

939.9

In [ ]:
conversion(30,34.3333)

1029.999

In [ ]:
file = open("output.csv","w") # คำสั่งนี้ใช้สำหรับ เปิดไฟล์ หรือ สร้างไฟล์ใหม่ ชื่อ "output.csv"
file.write("date,item,price\n") # ใช้เมธอด write() เพื่อเขียนข้อความ "date,item,price\n" ลงในไฟล์
file.write("2020-02-07,Milk,26.5\n") # เขียนแถวของข้อมูลแรกลงในไฟล์ โดยข้อมูลแต่ละคอลัมน์คั่นด้วยเครื่องหมายคอมมา (,)
file.write("2020-02-08,Water,7\n")#  เขียนแถวของข้อมูลที่สองลงในไฟล์
file.close() #คำสั่งนี้ใช้สำหรับ ปิดไฟล์ หลังจากเขียนข้อมูลเสร็จ

In [ ]:
header = ("date",'item','price') #สร้างตัวแปร str เพื่อรวมข้อมูลเข้าด้วยกัน
",".join(header)+"\n"#join รวมค่าเข้าด้วยกัน (ในกรณีคือรวมค่าทั้งหมดใน header )

'date,item,price\n'

In [ ]:
header = ("date",'item','price') #สร้าง tuple ชื่อ header ซึ่งประกอบด้วยชื่อคอลัมน์ 3 ชื่อ
context = [ #สร้างลิสมาเก็บข้อมูลเเต่ละรายการ
    ("2020-02-07","Milk","26.5"),
    ("2020-02-08","Water","7"),
    ("2020-02-08","Mask","20"),
    ("2020-02-08","Lays","10"),
    ("2020-02-08","Rice","6")
]

file = open("products.csv","w")#เปิดหรือสร้างไฟล์ใหม่ (ถ้ามีอยู่เขียนทับลงไป)
file.write(",".join(header)+"\n") #join รวมค่าเข้าด้วยกัน (ในกรณีคือรวมค่าทั้งหมดใน header )
for row in context: #ใช้คำสั่ง for เพื่อวนซ้ำในลิสต์ context โดยแต่ละรอบ row จะมีค่าของทูเพิลในลิสต์
  file.write(",".join(row)+"\n")  #ในแต่ละรอบของการวนซ้ำ ใช้คำสั่ง ",".join(row) เพื่อรวมค่าทั้งหมดใน row เข้าด้วยกัน โดยคั่นด้วยเครื่องหมายคอมมา (,):
file.close() #คำสั่งนี้ใช้สำหรับ ปิดไฟล์ หลังจากเขียนข้อมูลเสร็จ

In [ ]:
with open("products.csv","r") as f:#เรียกไฟล์ข้างบนมาดู
  product = f.readlines()#จะอ่านไฟล์ทั้งหมดและเก็บบรรทัดในลิสต์
product #เเสดงผล

['date,item,price\n',
 '2020-02-07,Milk,26.5\n',
 '2020-02-08,Water,7\n',
 '2020-02-08,Mask,20\n',
 '2020-02-08,Lays,10\n',
 '2020-02-08,Rice,6\n']

In [ ]:
import pandas as pd #นำเข้าไลบรารี Pandas และตั้งชื่อย่อให้กับไลบรารีว่า pd
df = pd.read_csv("/content/sample_data/california_housing_test.csv")#ใช้คำสั่งในการอ่านไฟล์ csv
df #เเสดงผล

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.to_csv("new_data.csv")

In [ ]:
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
import json #นำเข้าไลบารี
json.dumps(grade)#

'{"A": 80, "B": 70, "C": 60, "D": 50}'

In [ ]:
type(json.dumps(grade))#เเสดงชนิด

str

In [ ]:
json.dump(grade,open("grade.json","w"))

In [ ]:
students = json.loads('{"student1":"Parth","student2":"Fon"}')
students

{'student1': 'Parth', 'student2': 'Fon'}